# VSCode settings and associations
.vscode/


# Java Project files and outputs
**/.idea
**/out
*.iml

# Compiled C++ sources
c++/build/*.exe

# Compiled C Files
c/misc/*.exe
c/theory/*.exe

*.exe

# Main testing files
c++/exercises/**/*main.cpp