# VSCode settings and associations
# .vscode/

# Java Project files and outputs
**/.idea
**/out
*.iml

# Compiled executables and pdfs
*.exe
*.pdf
*.out

# Matrix project compiled files
SO/MatrixProject/out
SO/MatrixProject/docs

# Mac OS X weird files
**/.DS_Store

# XCode user workspace stuff
**/project.xcworkspace/xcuserdata/**

# MATLAB temporary files
*.asv
