# SQL
*.sql linguist-detectable 

# XML Data
SI/*.xml linguist-detectable
SI/*.xsd linguist-detectable
# hello Assembly
*.s linguist-detectable

# Doxygen docs
SO/**/doc/** linguist-documentation

# PlantUML
# *.puml linguist-detectable

# YAML
*.{yml,yaml} linguist-detectable

# MPI Benchmarks
PP&HPC/perf/IMB/mpi-benchmarks-IMB/** linguist-vendored

# Lab Notebooks
master/ML/lab_notebooks/*.ipynb linguist-vendored
master/AML/lab*[0-9]/*.ipynb linguist-vendored

* text eol=lf

# II project files shouldn't be touched by eol conversions
master/II/** -text

#
## These files are binary and should be left untouched
#

# (binary is a macro for -text -diff)
*.png binary
*.jpg binary
*.jpeg binary
*.tiff binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.pyc binary
*.pdf binary
*.ods binary
*.xlsx binary
