# VSCode settings and associations
# .vscode/

# Java Project files and outputs
**/.idea/
**/out
*.iml

# Compiled executables and pdfs
*.exe
*.pdf
*.out

# Matrix project compiled files
bachelor/SO/MatrixProject/out

# Doxygen Docs
bachelor/SO/MatrixProject/docs
bachelor/MdP/safe_stack/v1/docs

# MATLAB temporary files
*.asv

# Python Cache folders
__pycache__

# IMB 40MB stupid output file
bachelor/PP&HPC/perf/IMB/IMB_out_0

# AML useless assignments weights files
master/AML/assignment*[0-9]/**/*.weights.h5

# VIPM: 
# dataset
master/VIPM/5_BOW/image.orig
master/VIPM/6_TL_FE/image.orig
master/VIPM/7_TL_FT/image.orig
master/VIPM/8_class_detection/dataset_detection_minimal

# final project: dataset
master/VIPM/final_project/data/*
!master/VIPM/final_project/data/sports_labels.csv

# ------------- Visual studio Solutions ----------
# IG
**/Grafica/.vs
**/Grafica/Debug
**/Grafica/dlls
**/Grafica/lib
**/Grafica/includes


# ------------- XCode Configuration --------------
#####
# OS X temporary files that should never be committed
.DS_Store
.Trashes
*.swp

#
# profile - REMOVED temporarily (on double-checking, I can't find it in OS X docs?)
#profile

####
# Xcode temporary files that should never be committed
#
# NB: NIB/XIB files still exist even on Storyboard projects, so we want this...
*~.nib

####
# Xcode build files -
#
# NB: slash on the end, so we only remove the FOLDER, not any files that were badly named "DerivedData"
DerivedData/

# NB: slash on the end, so we only remove the FOLDER, not any files that were badly named "build"
build/


#####
# Xcode private settings (window sizes, bookmarks, breakpoints, custom executables, smart groups)
#
# This is complicated:
#
# SOMETIMES you need to put this file in version control.
# Apple designed it poorly - if you use "custom executables", they are
#  saved in this file.
# 99% of projects do NOT use those, so they do NOT want to version control this file.
#  ..but if you're in the 1%, comment out the line "*.pbxuser"
# .pbxuser: http://lists.apple.com/archives/xcode-users/2004/Jan/msg00193.html
*.pbxuser
# .mode1v3: http://lists.apple.com/archives/xcode-users/2007/Oct/msg00465.html
*.mode1v3
# .mode2v3: http://lists.apple.com/archives/xcode-users/2007/Oct/msg00465.html
*.mode2v3
# .perspectivev3: http://stackoverflow.com/questions/5223297/xcode-projects-what-is-a-perspectivev3-file
*.perspectivev3
#    NB: also, whitelist the default ones, some projects need to use these
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

####
# Xcode 4 - semi-personal settings
#
# Apple Shared data that Apple put in the wrong folder
# c.f. http://stackoverflow.com/a/19260712/153422
#     FROM ANSWER: Apple says "don't ignore it"
#     FROM COMMENTS: Apple is wrong; Apple code is too buggy to trust; there are no known negative side-effects to ignoring Apple's unofficial advice and instead doing the thing that actively fixes bugs in Xcode
# Up to you, but ... current advice: ignore it.
*.xccheckout
# OPTION 1: ---------------------------------
#     throw away ALL personal settings (including custom schemes!
#     - unless they are "shared")
# As per build/ and DerivedData/, this ought to have a trailing slash
#
# NB: this is exclusive with OPTION 2 below
xcuserdata/

####
# Xcode 4 - Deprecated classes
#
# Allegedly, if you manually "deprecate" your classes, they get moved here.
#
# We're using source-control, so this is a "feature" that we do not want!
*.moved-aside

# Environment Variables & Secrets File
.xcconfig
