# SQL
*.sql linguist-detectable 

# XML Data
*.xml linguist-detectable
*.xsd linguist-detectable
# hello Assembly
*.s linguist-detectable

# Doxygen docs
SO/**/doc/** linguist-documentation

# PlantUML
# *.puml linguist-detectable

* text eol=lf

# Disable Line Endings normalization on Excel files
*.ods -text
*.xlsx -text
